@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 8.5in;
    height: 11in;
    margin: auto;
    padding: 0.5in 0.5in;
    border: 1px solid black;
    /* font-family: 'Glegoo', serif; */
    font-family: 'Goudy Bookletter 1911', serif;
    /* font-family: 'Lora', serif; */
}

h1 {
    @apply text-4xl font-black tracking-wider;
}

h2 {
    @apply text-sm tracking-widest uppercase;
    @apply border-b mb-1 pb-1;
}

h3 {
    @apply text-sm tracking-widest uppercase;
}

h4 {
    @apply tracking-wider font-black;
}

a {
    @apply underline;
}

.container {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 0.05in;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
        "title contact"
        "pitch contact"
        "facts facts"
        "experience projects"
        "education projects";
}

.section {
    @apply p-2;
    /* border: 1px dashed palegoldenrod; */
}

.job-list {
    @apply flex flex-col gap-2;
}

.job-header {
    @apply flex justify-between items-end;
}

.job-header > p {
    @apply text-sm;
}

.job-roles {
    @apply pl-4;
}

.job-project-list {
    @apply flex flex-wrap gap-x-2;
    @apply text-sm;
    @apply pl-4 ml-2;
}

.job-project-list > :not(:last-child) {
    @apply after:content-['_|'] flex gap-x-2
}

.project-list {
    @apply flex flex-col gap-2;
}

.project-name {

}

.project-link {
    @apply text-sm;
}

.project-skills {
    @apply flex flex-wrap gap-1;
    @apply pt-1 pb-1;
}

.project-skills > li {
    @apply rounded-full text-xs px-1;
    @apply border bg-slate-200;
}

#title {
    grid-area: title;
    @apply pb-0;
}

#pitch {
    grid-area: pitch;
    @apply pt-0;
}

#contact {
    grid-area: contact;
    @apply text-sm;
}

#experience { grid-area: experience; }
#education { grid-area: education; }
#facts { grid-area: facts; }
#projects { grid-area: projects; }